.header {
  background-color: #026aa7;
  width: 100%;
  height: 48px;
}

.header > .left-btn {
  position: absolute;
  top: 15px;
  left: 5px;
}

.header > .left-btn > a {
  color: rgba(176, 196, 222, 1.0);
}

.header > .left-btn > a:hover {
  color: black;
}

.header > .left-btn > a[disabled] {
  color: black;
}

.header > .left-btn > a:hover[disabled] {
  text-decoration: none;
}

.header > .left-btn > a:visited {
  text-decoration: none;
}

.header > .left-btn > a:active {
  text-decoration: none;
}

.header > .title {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.header > .title > span {
  color: rgba(176, 196, 222, 1.0);
  font-size: 26px;
  line-height: 48px;
}

.note-remove-btn {
  color: black;
  background-color: #fff;
  border-color: #2e6da4;
}
