.header {
  background-color: #026aa7;
  width: 100%;
  height: 48px;
}

.left-btn {
  position: absolute;
  top: 15px;
  left: 5px;
}

.left-btn > a {
  color: rgba(176, 196, 222, 1.0);
}

.left-btn > a:hover {
  color: black;
}


.left-btn > a[disabled] {
  color: black;
}

.left-btn > a:hover[disabled] {
  text-decoration: none;
}

.left-btn > a:visited {
  text-decoration: none;
}

.left-btn > a:active {
  text-decoration: none;
}

.title > span {
  color: rgba(176, 196, 222, 1.0);
  font-size: 26px;
  line-height: 48px;
}
