.note {
  display: inline-block;
  width: 100%;
  height: calc(100% - 48px); /* 48px = header height */
}

.note-header-color-example {
  width: 15px;
  height: 15px;
  float: right;
  margin-top: 3px;
}

.note-header-right-panel {
  position: absolute;
  right: 10px;
  top: 64px;
}

.note-header-right-panel > button {
  margin-left: 10px;
}
