.note {
  display: inline-block;
  width: 100%;
  height: calc(100% - 48px); /* 48px = header height */
}

.note-header-color-example {
  width: 15px;
  height: 15px;
  float: right;
  margin-top: 3px;
}

.note-header-right-panel {
  position: absolute;
  right: 10px;
  top: 64px;
}

.note-header-right-panel > div > button {
  margin-left: 10px;
}

.note-header {
  height: 54px;
}

.note-header > .note-header-inactive-input-title {
  /* Should looks like normal title */
  float: left;
  background-color: inherit;
  border: 0;
  cursor: pointer;
  font-size: 23px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}

.note-header > .note-header-active-input-title {
  /* Should looks like input */
  float: left;
  background-color: white;
  opacity: 0.8;
  border: 2px solid black;
  cursor: pointer;
  font-size: 23px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-left: 40px;
}

.note-columns-list {
  margin-top: 20px;
  margin-left: 20px;
  overflow-x: auto;
  display: flex;
  width: 100%;
  margin-left: 0;
  height: calc(100% - 74px); /* bad */
}

.note-columns-list > div {
  display: inline-table;
}

.add-new-column {
  display: inline-block;
  background-color: inherit;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  min-width: 200px;
  margin: 10px;
}

.add-new-column-wrap {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 2;
}

.note-column {
  display: inline-block;
  vertical-align: top;
  border: 3px solid #DCDCDC;
  background-color: #DCDCDC;
  border-radius: 5px;
  margin: 5px;
}
